 <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1 class="modal-title"> <%= @queue_name%> </h1>
</div>

<div class="modal-body">

  <div class="panel panel-primary">
    <div class="panel-body">
      <div id='thumbsdown' class="alert alert-danger" style="display: none;">
        <strong> Oh Gosh ! </strong> Please verify if the <strong>key</strong> is checked.
      </div>

      <form id="publishForm" method="post" action="#" role='form'> 
        
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"> Routing Keys </h3>
          </div>
          <div class="panel-body">
            <% @bindings.each do |bind| %>
              <div class="checkbox" >
                <label>
                  <input type="checkbox" value="<%= bind.routing_key %>" name="keys[<%=bind.source%>][]"> <%= bind.routing_key %> 
                  <small> from <strong><%= bind.source %></strong> </small>
                </label>
               </div>
            <%end%>

          </div>
        </div>

        <div class="form-group">
          <label> Message </label>
          <textarea class='form-control' rows="10" name="message"></textarea>
        </div>

        <input type="submit" class="btn btn-primary" id="submit" value="Publish"></input>
        <img  id='thumbsup' style="display: none;" src="/images/thumbsup.gif"></img>
      
      </form>
    </div>
  </div>
 

</div>

<script type="text/javascript">
$(function(){

  $("#publishForm").on('submit', function(event){
    event.stopPropagation();
    event.preventDefault();

    var promise = $.ajax({
      url: "/publish/<%= @queue_name %>",
      type: "POST",
      data: $(this).serialize()
    });

    promise.done(onSuccess)
    promise.fail(onError)

  });

  function onSuccess(data) {
    $("#publishForm")[0].reset(); 
    $('#thumbsup').fadeIn("slow");
    setTimeout(function() {
      $('#thumbsup').fadeOut();
    }, 1000);
  }

  function onError() {
    $('#thumbsdown').fadeIn("slow");
    setTimeout(function() {
      $('#thumbsdown').fadeOut();
    }, 3000);
  }

})
        
</script>

