 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1 class="modal-title"> <%= @queue.name%> </h1>
  <h4 class="modal-title">Node: <%= @queue.node %> </h4>
  <h5 class="modal-title">Vhost: <%= @queue.vhost %> </h5>
</div>

<div class="modal-body">

  <div class="panel panel-primary">
    
    <div class="panel-heading">
      <h3 class="panel-title">Queue Details</h3>
    </div>

    <div class="panel-body">
      <ul class="list-group">
      
        <li class="list-group-item"> <span class="badge"><%= @queue.messages_ready %></span>
          Messages Ready
        </li>
        <li class="list-group-item"> <span class="badge"><%= @queue.messages_unacknowledged %></span>
          Messages Unacknowledged
        </li>
        <li class="list-group-item"> <span class="badge"><%= @queue.memory %></span>
          Memory
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-success">
    
    <div class="panel-heading">
      <h3 class="panel-title">Queue Consumers</h3>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Peer Host</th>
          <th>Peer Port</th>
        </tr>
      </thead>
      <tbody>
        <% @queue.consumer_details.each do |q| %>
          <tr>
            <td><%= q.channel_details.peer_host %></td>
            <td><%= q.channel_details.peer_port %></td>
          </tr>            
        <% end %>
      </tbody>
    </table>

  </div>
</div>

